In [1]:
import pandas as pd

# Working wuth json

In [2]:
pd.read_json('train.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

In [3]:
pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
INR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,1.0000
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,0.0417
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,0.7560
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,0.9440
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,4.3500
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,1.1600
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,2.7200
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,0.1970
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,0.2590
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2025-10-18,1760745601,0.3030

# Working with sql

In [4]:
! pip install mysql.connector

Collecting mysql.connector

WARNING: Ignoring invalid distribution ~andas (C:\Users\Admin\anaconda3\Lib\site-packages)
  DEPRECATION: Building 'mysql.connector' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql.connector'. Discussion can be found at https://github.com/pypa/pip/issues/6334
WARNING: Ignoring invalid distribution ~andas (C:\Users\Admin\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\Admin\anaconda3\Lib\site-packages)

  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     -- ------------------------------------- 0.8/11.9 MB 6.6 MB/s eta 0:00:02
     ----- ---------------------------------- 1.6/11.9 MB 7.1 MB/s eta 0:00:02
     ----- ---------------------------------- 1.6/11.9 MB 7.1 MB/s eta 0:00:02
     ------- -------------------------------- 2.1/11.9 MB 2.7 MB/s eta 0:00:04
     ------- -------------------------------- 2.4/11.9 MB 2.9 MB/s eta 0:00:04
     ------- -------------------------------- 2.4/11.9 MB 2.9 MB/s eta 0:00:04
     -------- ------------------------------- 2.6/11.9 MB 2.0 MB/s eta 0:00:05
     --------- ------------------------------ 2.9/11.9 MB 1.7 MB/s eta 0:00:06
     ------------ --------------------------- 3.7/11.9 MB 2.0 MB/s eta 0:00:05
     --------------- ------------------------ 4.7/11.9 MB 2.3 MB/s eta 0:00:04
     -------------------- ------------------- 6.0/11.9 MB 2.6 MB/s eta 0:00:03
     ------------------------ --------------- 7.3/11.9 MB 3.0 MB/s eta 0:00:02
     ----------------------------- ---------- 8.7/11.9 MB 3.2 MB/s eta 0:00:01
     --------------------------------- ------ 10.0/11.9 MB 3.5 MB/s eta 0:00:01
     -------------------------------------- - 11.3/11.9 MB 3.7 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=247959 sha256=c6a20146917508f726e428fb1bbf768d54d8ffa832a1f83da312aa747559b5b6
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [5]:
import mysql.connector

In [7]:
conn= mysql.connector.connect(host='localhost',user='root',password="",database='world')

In [8]:
pd.read_sql_query("SELECT * FROM city",conn)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13064\374620591.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city",conn)

        ID            Name CountryCode       District  Population
0        1           Kabul         AFG          Kabol     1780000
1        2        Qandahar         AFG       Qandahar      237500
2        3           Herat         AFG          Herat      186800
3        4  Mazar-e-Sharif         AFG          Balkh      127800
4        5       Amsterdam         NLD  Noord-Holland      731200
...    ...             ...         ...            ...         ...
4074  4075      Khan Yunis         PSE     Khan Yunis      123175
4075  4076          Hebron         PSE         Hebron      119401
4076  4077        Jabaliya         PSE     North Gaza      113901
4077  4078          Nablus         PSE         Nablus      100231
4078  4079           Rafah         PSE          Rafah       92020

[4079 rows x 5 columns]

In [9]:
import pandas as pd
from sqlalchemy import create_engine

# connection string
engine = create_engine("mysql+mysqlconnector://root:@localhost/world")

# query run
df = pd.read_sql("SELECT * FROM city", con=engine)

print(df.head())

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200